<div class="ekart--product--container">
    <img [src]="product.pImage">
    <p>Name: {{product.name}}</p>
    <p>Price: ${{product.price}}</p>
    <p>Color: {{product.color}}</p>
    <p>Discounted Price: {{getDiscountedPrice().toFixed(2)}}</p>
    <p>{{ product.inStock > 0 ? 'Only ' + product.inStock + ' items left' : ' Not In Stock'}}</p>
    <!-- use property binding => Disbled hidden checked-->
    <button (click)="decremerntCartValue()">-</button>
    <span>{{addToCart}}</span>
    <button (click)="incremerntCartValue()">+</button>
    <!-- for event binding use () -->
    <!-- <input (input)="onNameChange($event)"><br>
    <p>Name = {{name}}</p> -->
    <!-- for attr binding use [attr.aria-hidden] -->
</div>